{% extends 'home/base.html' %}

{% load static %}
{% block contenidoQueCambia %}
         
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Cuadros de diseño</h2>
                    <p>Cada uno de nuestros cuadros ha sido cuidadosamente creado por talentosos artistas que fusionan la creatividad y la innovación en cada obra. Desde abstractos modernos hasta diseños minimalistas, tenemos una amplia gama de opciones para adaptarse a cualquier gusto.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Opciones personalizadas!</h2>
                    <p>No solo son una declaración de arte, sino también una inversión en la belleza y el buen gusto. Además, ofrecemos opciones personalizadas para que puedas crear la pieza perfecta que refleje tu visión y estilo personal.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">¡No te conformes con la decoración común! </h2>
                    <p>Eleva tus espacios con nuestros cuadros de diseño exclusivos y experimenta la diferencia que el arte de calidad puede hacer en tu vida. ¡Visítanos hoy y encuentra la pieza perfecta para ti!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenidoQueCambia %}